@charset "UTF-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body{
	max-width: 100%;
	background-color: #f2f4f6;
	margin:0%;
	font-size: 14px;
}
#hearde{
	background-color:#272C32;
	width: 100%;
	height: 150px;
	float: left;
}
#logo{
	position: absolute;
	float: left;
	top: 35px;
	left: 100px;
}

#main{
	margin-left:4%;
	margin-right: 4%;
	width: 92%;
	float: left;
	background-color: white;
	border-radius: 20px;

}
#menu{
	float: left;
	width: 90%;
	margin-left: 5%;
	background-color: #686868;/*tmp*/
	height: 40px;/*tmp*/
	color: white;
	border-radius: 5px;
	margin-top: 110px;
}


ul{
	list-style:none;
}


.nav >li {
	float:left;
}

.nav li> a{
	border-radius: 5px;
}

.nav li a {
	background-color:#686868;
	color:#fff;
	text-decoration:none;
	padding:12px 25px;
	padding-left: 25px;
	height: 16px;
	font-size: 17px;
	display:block;
}

.nav li a:hover {
	background-color:#434343;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	width: 120px;
}

.nav li:hover > ul {
	display:block;
	z-index: 1;
}

.nav li ul li {
	position:relative;
}

.nav li ul li a {
	border-radius: 0px;
}
.active a{
		background-color:#434343;
}


#new{
	float: right;
	width: 79%;
	margin-right: 1%;
	padding: 0px;
}
#new img{
	width: 97.5%;
	height: 200px;
	border: 5px solid #49484E;
	border-radius: 15px;
}

#new h1{
	position: absolute;
	top: 170px;
	left: 20px;
	color: white;
	font-size: 15px;
}

.news_rigth{
	float: right;
	width: 30%;
	margin-right: 2.5%;
	position:relative;
}

.news_rigth :hover{
	transform: scale(1.1);
}

#content{
	float: right;
	width: 78%;
	margin-right: 1%;
	border-radius: 15px;
}

#content img:hover {
    box-shadow: 0 0 1px 1px rgba(0, 130, 176, 0.3);
}

#content div{
	float: left;
	width: 96%;
	margin-left: 2%;
	margin-top: 10px;
	border-radius: 5px;
}

.img_rigth img{
	height: 100px;
	width: 200px;
	float: left;
	border-radius: 5px;
	margin-right: 10px;
}
.img_left img{
	float: right;
	height: 100px;
	width: 200px;
	border-radius: 5px;
	margin-left: 10px;
}

#content div p{
	text-align: justify;
	padding-top: 25px;
}

#sidebar{
	float: left;
	width: 19%;
	margin-left: 1%;
	border-radius: 15px;
	background-color:#f2f4f6; /*tmp*/
	padding-bottom: 5%;
}
#table{
	float: left;
	position: relative;
	top: 30px;
	left: 10%;
	width: 80%;
	text-align: center;
}

#table td{
	border-bottom: 1px solid #000000;
	padding-top: 10px;
	padding-bottom: 10px;
}

#table tr :hover {
	color: silver;
}

#footer{
	float: left;
	background-color: #434b54;
	width: 100%;
	height: 100px; /*tmp*/
	text-align: center;
	color: white;
}

#footer h2{
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: black;
}


.speis{
	float: left;
	clear: both;
	width: 100%;
	height: 10px;
}

.speis_content{
	float: left;
	clear: both;
	width: 100%;
	background-color: darkgray;
	height: 2px;

}
@media screen and (max-width: 1000px){
	#table{
		display: none;
	}
	#sidebar{
		display: none;
	}
	#new{
		width: 100%;
	}
	#content{
		width: 100%;
	}
	.news_rigth{
		clear: both;
		width: 96%;
		margin-bottom:5%;
	}
}
