@charset "UTF-8";
/* CSS Document */
#container{
	float: right;
	margin: 2%;
	border-radius: 10px;
	width: 75%;
	height: 300px;
	padding: 1%;
}

#sidebar{
	margin-top: 2%;
}

#table a{
	color: black;
}


#content{
	background-color: #f2f4f6;
	width: 75%;
	margin-bottom: 2%;
}
#sidebar{
	position: fixed;
}

h1{
	text-align: center;
	margin-top: 2%;
}
#content > h2{
	margin-top: 15px;
	margin-left: 15px;
}

#content ul li ul> li{
	margin-left: 30px;
	margin-top: 10px;
	list-style: outside;
}

#content ul >li{
	margin-left: 30px;
	margin-top: 10px;
	list-style: square;
}

strong{
	background-color: #A7B5C2;
	font-weight:bolder;
	border-radius: 5px;

}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin-left: 25%;
	margin-top: 1%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #AEAEAE;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*leaout*/
@media screen and (max-width: 800px){
	.slideshow-container {
  		margin-left: 14%;
	}
	#content{
		width: 98%;
	}
	table.tabla-datos{
		width: 98%;
		margin-left: 1%;
	}
}

.tabla-datos{
	border-collapse: collapse;
	width: 74%;
	margin-left: 25%;
	margin-bottom: 2%;

}
.tabla-datos th,td{
	border-collapse: collapse;
	border-bottom: 1px solid #e9e9e9;
	padding-top:1%;
	padding-bottom: 1%;
}

.tabla-datos td{
	padding-left: 20%;
}
.tabla-datos th{
	width: 40%;
	padding-left: 5%;
}
