@charset "UTF-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body{
	max-width: 100%;
	background-color: #f2f4f6;
	margin:0%;
	font-size: 14px;
}
#hearde{
	background-color:#272C32;
	width: 100%;
	height: 150px;
	float: left;
}
#logo{
	position: absolute;
	float: left;
	top: 35px;
	left: 100px;
}

#main{
	margin-left:4%;
	margin-right: 4%;
	float: left;
	background-color: white;
	border-radius: 20px;

}
#menu{
	float: left;
	width: 90%;
	margin-left: 5%;
	background-color: #686868;/*tmp*/
	height: 40px;/*tmp*/
	color: white;
	border-radius: 5px;
	margin-top: 110px;
}


ul{
	list-style:none;
}


.nav >li {
	float:left;
}

.nav li> a{
	border-radius: 5px;
}

.nav li a {
	background-color:#686868;
	color:#fff;
	text-decoration:none;
	padding:12px 25px;
	padding-left: 25px;
	height: 16px;
	font-size: 17px;
	display:block;
}

.nav li a:hover {
	background-color:#434343;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	width: 120px;
}

.nav li:hover > ul {
	display:block;
	z-index: 1;
}

.nav li ul li {
	position:relative;
}

.nav li ul li a {
	border-radius: 0px;
}



#content{
	float: right;
	width: 78%;
	margin-right: 1%;
	border-radius: 15px;
}

#main{
	margin-left:4%;
	margin-right: 4%;
	float: left;
	width: 94%;
	background-color: white;
	border-radius: 20px;
}

.phone{
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30%;
	border-radius: 5px;
	text-align: center;
}

.phone img{
	padding-top: 55px;
}
.phone h1{
	padding-top: 50px;
}
article{
	width: 80%;
	margin-left: 10%;
	padding-bottom: 50px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
}
div :hover > article{
	border: 1px solid #ECECEC;
}


#footer{
	float: left;
	background-color: #434b54;
	width: 100%;
	height: 100px; /*tmp*/
	text-align: center;
	color: white;
}

#footer h2{
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: black;

}
.speis{
	float: left;
	clear: both;
	width: 100%;
	height: 10px;
}

.speis_content{
	float: left;
	clear: both;
	width: 100%;
	background-color: darkgray;
	height: 5px;

}

/*leaout*/
@media screen and (max-width: 800px){
	.phone{
		clear: both;
		width: 97%;
	}
}
